/* {backroung-gray} */
.demos {
align-items: flex-start;
display: flex;
justify-content: center;
  width: 100vw;              
  background-color: #fafafa; 
  padding: 160px 0;
  margin-left: calc(50% - 50vw);
  margin-top: 300px;

}
/* {div fo 3} */
.demos .div {
align-items: center;
display: flex;
flex-direction: column;
gap: 64px;
padding: 64px 0px;
position: relative;
width: 1200px;
height: auto;
}

.demos .build-any-phone-wrapper {
  margin-top: -120px;
align-items: center;
display: flex;
flex: 0 0 auto;
flex-direction: column;
gap: 16px;
position: relative;
width: 720px;}

.demos .build-any-phone {
align-self: stretch;
color: transparent;
font-family: "Poppins-SemiBold", Helvetica;
font-size: 48px;
font-weight: 600;
letter-spacing: 0;
line-height: 57.6px;
margin-top: -1.00px;
position: relative;
text-align: center;}

.demos .text-wrapper {
color: #111416;}

.demos .span {
color: #8b3dff;}


.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;

 }

.cards-container {
    align-items: flex-start;
  display: flex;
  gap: 12px;
  position: relative;
}

.card {
  align-items: flex-start;
align-self: stretch;
background-color: #ffffff;
border: 1px solid;
border-color: #f5f5f5;
border-radius: 16px;
box-shadow: 0px 0px 24px #00000014;
display: flex;
flex: 1;
flex-direction: column;
flex-grow: 1;
justify-content: space-between;
padding: 24px;
position: relative;
height: 200px;
}


.card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.card-header .title {
  color: #111416;
  font-family: "Inter-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  text-align: left; 
}

.card-header .description {
  color: #607589;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 8px;
  position: relative;
  text-align: left;
  width: auto;
}

/* גוף הכרטיס - איקון וציטוט */
.card-body {
align-items: center;
align-self: stretch;
background-color: #fbf9ff;
border: 1px solid;
border-color: #f5f5f5;
border-radius: 8px;
display: flex;
gap: 12px;
padding: 14px;
position: relative;
height: 90px;


}

/* האייקון של הכרטיס */

.icon-wrapper .vector {
align-items: center;
background-color: #e3d1ff;
border-radius: 4px;
display: inline-flex;
flex: 0 0 auto;
gap: 10px;
padding: 8px;
position: relative;


}

/* ציטוט מתחת לאייקון */
.quote-wrapper {
  align-items: flex-start;
display: flex;
flex: 1;
flex-direction: column;
flex-grow: 1;
position: relative;

}

.quote-wrapper .quote {
 color: #4300a5;
font-family: "Inter-LightItalic", Helvetica;
font-size: 14px;
font-style: italic;
font-weight: 300;
left: 0;
letter-spacing: 0;
line-height: 16.8px;
text-align: left;
  
}
.cards-wrapper-768
{
    display: none !important;

}
  .cards-wrapper-480
  {
        display: none !important;

  }

@media (max-width: 1024px)  {

  .demos .build-any-phone-wrapper
  {
  max-width: 500px !important; /* או כל רוחב שמתאים לעיצוב */
  text-align: center;
  justify-content: center;
  }
  .demos .build-any-phone
  {
    font-size: 40px;
  }
  .demos
  {
        margin-left: 0 !important;
        margin-top: 180px;
  }
.cards-wrapper {
    padding: 40px;
    margin-top: -48px;
}

.quote-wrapper .quote
{
  font-size: 12px;
}
}

@media (max-width: 768px)  {
  .demos .build-any-phone-wrapper
  {
  max-width: 500px !important; /* או כל רוחב שמתאים לעיצוב */
  text-align: center;
  justify-content: center;
  }

  .card
  {
    margin-bottom: 24px;
  }
  .cards-wrapper
  {
      display: none !important;

  }
  .cards-wrapper-768
  {
      display:block !important;
  flex-direction: column;
  align-items: center;
      padding: 40px;
    margin-top: -48px;

  }

  .cards-container
  {
      gap: 12px;
      
  }

}


@media (max-width: 480px)  {

  .demos {
        margin-top:220px;
  }
  .demos .build-any-phone-wrapper
  {
  max-width: 400px !important; /* או כל רוחב שמתאים לעיצוב */
  text-align: center;
  justify-content: center;

  }
  .demos .build-any-phone
  {
    margin-top: -60px;
      font-size: 24px;
      padding: 40px;
      line-height:120%; /* רווח קבוע בפיקסלים */
  }
  .card
  {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    width: 80vw;
  }
  .cards-wrapper,
  .cards-wrapper-768 {
    display: none !important;
  }

  .cards-wrapper-480 {
    margin-top:-68px;
    display: flex !important;
  padding: 20px;
  flex-direction: column;
  align-items: center;

  }
}