 .dialogue_wrapper {
  width: 100vw;  
  background-color: #fafafa; 
  position: relative;
  padding: 60px 0;
  margin-left: calc(50% - 50vw);
  display: flex;              
  justify-content: center;    
  align-items: center; 
   z-index: 1;
}
.dialogue .img_480
{
display:none ;
}
.dialogue {
align-items: center;
background-color: var( --brandcolor-brand-tertiary-700-duplicate);
border-radius: 32px;
display: flex;
flex-direction: column;
gap: 32px;
height: 676px;
justify-content: flex-start;
padding: 7px 64px 64px;
max-width: 1200px;
width: 100%;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  text-align: center;
} 

.element {
  margin-top: 0px;
  width: 808px;
  max-width: 100%;
  height: auto;
  /* transition: transform 0.3s ease, opacity 0.3s ease; */
}

.dialogue .div {
align-items: center;
display: flex;
flex: 0 0 auto;
flex-direction: column;
gap: 14px;
justify-content: center;
margin-bottom: -6.94px;
padding: 0px 0px 24px;
position: relative;
width: 514px;}

.dialogue .text-wrapper {
color: #ffffff;
font-family: "Poppins-SemiBold", Helvetica;
font-size: 44px;
font-weight: 600;
letter-spacing: 0;
line-height: 48.0px;
margin-left: -51.00px;
margin-right: -51.00px;
margin-top: -1.00px;
position: relative;
text-align: center;
width: 516px;
}

.dialogue .if-you-can-imagine {
color: var(--brandcolor-brand-tertiary-300);
font-family: "Poppins-SemiBold", Helvetica;
font-size: 44px;
font-weight: 600;
margin-top: 14px;
letter-spacing: 0;
line-height: 48.0px;
margin-left: -51.00px;
margin-right: -51.00px;
position: relative;
text-align: center;
width: 516px;}


@media (max-width: 1024px)
{
  .dialogue_wrapper {
      margin-left: 0 !important;
  }

  .dialogue 
  {
  margin-top: -220px; /* אם את עדיין צריכה את ההיסט */
  width: 100%;        /* תופס את כל רוחב ההורה */
  box-sizing: border-box; /* כולל את הפדינג בחישוב הרוחב */
    max-width: calc(100% - 80px); /* 40px מכל צד */
  padding: 0 40px;
  height: inherit;
  }
}

@media (max-width:768px)
{

  .dialogue 
  {
  margin-top: -260px; /* אם את עדיין צריכה את ההיסט */
  }
  .dialogue .text-wrapper {
    text-align: center;
    font-size: 32px;
    line-height: 120%;
      max-width: 400px; /* הגבלת רוחב כדי שהטקסט ישבור שורה */

  }
 .dialogue .if-you-can-imagine
 {
    text-align: center;
    font-size: 32px;
    line-height: 120%;
 }
}

@media (max-width:480px)
{
.dialogue 
{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    max-width: calc(100% - 40px);      /* תמיד ישאיר 20px מכל צד */
    padding: 20px;                      /* רווח פנימי קטן */
    box-sizing: border-box;             /* כולל padding בחישוב הרוחב */
    height: auto;                       /* הגובה נשאר לפי תוכן */
}
  .element
  {
    display: none !important;
  }
  .dialogue .img_480
{
display:flex !important ;
}

  .dialogue .text-wrapper {
text-align: center;
  font-size: 17px;
  line-height: 1.2;            /* קצת מרווח בין השורות */
 width:100vw;                /* יתפוס את רוחב הקונטיינר */
  max-width: 100%;             /* לא יחרוג מגבולות ההורה */
  word-wrap: break-word;       /* נשבר מילה ארוכה אם צריך */
  overflow-wrap: break-word;   /* תמיכה בדפדפנים חדשים */
  }
 .dialogue .if-you-can-imagine
 {
    text-align: center;
    font-size: 17px;
    line-height: 120%;
 }
}
