.support{
   width: 100vw;
    margin-left: calc(50% - 50vw);
    background: rgba(230, 222, 255, 0.32);
}
.support-intro {
    display: flex;
    width: 1920px;
    padding: 120px 0 260px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    overflow: hidden;
}

.support-subtitle {
    color: var(--brandcolor-brand-primary-400);
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0px;
    padding: 0px;
}

.support-title {
    color: var(--brandcolor-brand-primary-400);
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0px;
    padding: 0px;
}

.phones {
    /* position: absolute; */
    left: 530px;
    bottom: 100.625px;
    width: auto;
    height: 480px;
    aspect-ratio: 430/121;
    margin-bottom: -480px;
}

@media (max-width: 1280px) {
  .support-intro {
    width: 100%;
    padding: 60px 0;
    gap: 16px;
    height: 300px;
  }
  .support-title {
    font-size: 48px;
    line-height: 120%;
  }
  .support-subtitle {
    font-size: 28px;
  }
  .phones {
    height: 260px;
    margin-bottom: -250px;
  }
}

@media (max-width: 768px) {
  .support-intro {
    width: 100%;
    max-width: 100%;
    padding: 40px 0 60px 0;
    gap: 12px;
     height: 140px;
  }
  .support-title {
    font-size: 28px;
    line-height: 120%;
  }
  .support-subtitle {
    font-size: 16px;
  }
  .phones {
    height: 200px;
    margin-bottom: -160px;
  }
}
@media (max-width: 576px) {
  .support-intro {
    padding: 24px 0 40px 0;
  }
  .support-title {
    font-size: 20px;
  }
  .phones {
    height: 160px;
    margin-bottom: -120px;
  }
}
