.supportI{
   width: 100vw;
    margin-left: calc(50% - 50vw);
    background: rgba(230, 222, 255, 0.32);
}
.support-intro {
    display: flex;
    width: 100%;
    padding: 120px 0 260px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    overflow: hidden;
}

.support-subtitle {
    color: var(--brandcolor-brand-primary-400);
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0px;
    padding: 0px;
}

.support-title {
    color: var(--brandcolor-brand-primary-400);
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0px;
    padding: 0px;
}

.phones {
    left: 530px;
    bottom: 100.625px;
    width: auto;
    height: 480px;
    aspect-ratio: 430/121;
    margin-bottom: -480px;
}

@media (max-width: 1024px) {
  .support-title {
    font-size: 48px;
  }
   .phones {
    height: 360px;
    margin-bottom: -400px;
  }
}

@media (max-width: 768px) {
  .support-intro {
    padding-bottom: 230px;

}
}
@media (max-width: 480px) {
    .support-title {
    font-size: 24px;
  }

  .support-subtitle {
    font-size: 16px;
  }
  .support-intro {
    padding-top: 0px;
  }
    .phones {
    height: 160px;
    margin-bottom: -350px;
  }
 }