.AllF {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    background: rgba(243, 238, 255, 0.32);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.section-containerF {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.section-titleF {
    flex: 1 0 0;
    color: var(--brandcolor-brand-black-white-black);
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0px;
    max-width: 800px;
}


.main-contentF {
    display: flex;
    gap: 144px;
    align-items: center;
}

.text-columnF {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.text-blockF {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin: 0px;
}

.headlineF {
    align-self: stretch;
    color: var(--brandcolor-brand-black-white-black);
    font-feature-settings: 'dlig' on;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    margin-bottom: 16px;
}

p {
    margin: 0px;
}

.subtextF {
    align-self: stretch;
    color: var(--brandcolor-brand-grey-400);
    font-feature-settings: 'dlig' on;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0px;
    text-align: start;
}

.videoF .aF {
    height: 540px;
    flex: 1 0 0;
    aspect-ratio: 109/113;
    width: 500px;
}

.mobile-image {
    display: none;
}

@media (max-width: 1024px) {
    .videoF .aF {
        height: 415px;
        flex: 1 0 0;
        aspect-ratio: 400/415;
        width: 400px;

    }

    .section-titleF {
        font-size: 40px;
        max-width: 560px;
    }

}

@media (max-width: 768px) {
    .videoF .aF {
        display: none;
    }

    .mobile-image {
        display: block;
        width: 120px;
        height: 118px;
        aspect-ratio: 60/59;
    }

    .text-with-image {
        display: flex;
        align-items: center;
        gap: 24px;
        align-self: stretch;
    }

    .main-contentF {
        gap: 1px;
    }
}

@media (max-width: 480px) {
    .text-with-image {
        flex-direction: column;
        gap: 16px;
    }

    .section-titleF {
        font-size: 24px;
    }

    .headlineF {
        text-align: center;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .subtextF {
        text-align: center;
        font-size: 14px;
    }

    .mobile-image {
        border-radius: 14px;
        border: 1px solid #B892FF;
        width: 81px;
        height: 80px;
        aspect-ratio: 81/80;
    }

    .section-containerF {
        padding: 96px 20px;
        gap: 48px;
        margin-top: 0;
        margin-bottom: 0;
    }
}