.AllA {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.section-containerA {
    display: flex;
    padding-bottom: 120px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 32px;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
}

.section-titleA {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

#titleA {
    color: var(--brandcolor-brand-black_white-black);
    font-feature-settings: 'dlig' on;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin: 0 auto;
    padding-top: 0px;
}

.addons-cards {
    display: grid;
    width: 100%;
    gap: 12px;
}

.addons-row {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.addon-card {
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}

.addon-price-tag {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.addon-content {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.addon-title {
    margin: 0;
    padding: 0;
}

.icon {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background: var(--brandcolor-brand-secondary-400);
}

.icon .addon-icon {
    width: 32px;
    height: 32px;
    aspect-ratio: 1/1;
}

.addon-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.addon-cardSupport-card {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 16px;
    border: 2px solid var(--brandcolor-brand-secondary-100);
    background: rgba(232, 233, 255, 0.32);
}

.btn {
    cursor: pointer;
    border-radius: 32px;
    border: 1px solid var(--brandcolor-brand-secondary-400);
    display: flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

#contact-btn {
    color: var(--brandcolor-brand-secondary-400);
    font-feature-settings: 'dlig' on;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 108%;
}

.tag-container {
    display: flex;
    padding: 0 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--brandcolor-brand-secondary-100);
}

.tag {
    color: var(--brandcolor-brand-secondary-400);
    font-feature-settings: 'dlig' on;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
}

.price {
    color: var(--brandcolor-brand-grey-400);
    font-feature-settings: 'dlig' on;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.title {
    color: var(--brandcolor-brand-black_white-black);
    font-feature-settings: 'dlig' on;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    align-self: stretch;
}

.addon-titleA {
    text-align: start;
    color: var(--brandcolor-brand-black_white-black);
    font-feature-settings: 'dlig' on;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    flex: 1 0 0;
    margin: 0;
    padding: 0;
}

.addon-desc {
    color: var(--brandcolor-brand-grey-400);
    font-feature-settings: 'dlig' on;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    align-self: stretch;
    text-align: left;
}
.btn:hover {
    background-color: var(--brandcolor-brand-secondary-100);
}

@media (max-width: 1024px) {

    .addon-card {
        gap: 24px;
        padding: 30px;
    }

    .addon-content {
        flex-direction: column;
        align-items: start;
    }

    .addon-header {
        gap: 0;
    }

    .addon-cardSupport-card {
        gap: 32px;
    }
}

@media (max-width: 768px) {
    .addons-row {
        display: contents;
    }

    .addons-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #root {
        max-width: 100% !important;
    }

    .section-containerA {
        padding: 0 20px 96px 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;
        box-sizing: border-box;
    }

    .addons-cards {
        display: flex;
        gap: 12px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .tag {
        white-space: nowrap;
    }

    .addon-card,
    .addon-cardSupport-card {
        display: flex;
        width: 116px;
        padding: 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        flex: 0 0 116px !important;
        margin: 14px 0;
    }

    .section-titleA {
        font-size: 24px;
    }

    .addon-price-tag {
        flex-direction: column;
    }

    .addon-title,
    .addon-titleA {
        text-align: start;
        font-size: 18px;

    }

    .addons-row:first-of-type .addon-card:first-child {
        margin-left: 20px;
    }
}