.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;             
  border: 1px solid #e0e0e0;
  background: white;        
  display: flex;
  justify-content: center;  
  z-index: 1000;            
}

.main-header .div {
  width: 100%;     
  max-width: 1200px;          
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;

}
.main-header .layer {
    aspect-ratio: 4.5;
    height: 32px;
    position: relative;
    width: 143.97px;
}
.main-header .navbar {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 32px;
    justify-content: center;
    position: relative;
}
.main-header .text-wrapper {
     cursor: pointer;
    align-self: stretch;
    color: var(--brandcolor-brand-black-white-black);
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19.2px;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: 119px;
}
.main-header .text-wrapper-2 {
cursor: pointer;
align-self: stretch;
color: var(--brandcolor-brand-black-white-black);
font-family: "Inter-Regular", Helvetica;
font-size: 16px;
font-weight: 400;
letter-spacing: 0;
line-height: 19.2px;
margin-top: -1.00px;
position: relative;
white-space: nowrap;
width: 57px;}

.main-header .text-wrapper-3 {
cursor: pointer;
align-self: stretch;
color: var(--brandcolor-brand-black-white-black);
font-family: "Inter-Regular", Helvetica;
font-size: 16px;
font-weight: 400;
letter-spacing: 0;
line-height: 19.2px;
margin-top: -1.00px;
position: relative;
white-space: nowrap;
width: 53px;}

.main-header .text-wrapper-4 {
     cursor: pointer;
align-self: stretch;
color: var(--brandcolor-brand-black-white-black);
font-family: "Inter-Regular", Helvetica;
font-size: 16px;
font-weight: 400;
letter-spacing: 0;
line-height: 19.2px;
margin-top: -1.00px;
position: relative;
white-space: nowrap;
width: 62px;}

.main-header .depth-main-header {
align-items: center;
display: inline-flex;
flex: 0 0 auto;
gap: 32px;
justify-content: flex-end;
position: relative;}

.main-header .div-wrapper {
align-items: flex-start;
display: inline-flex;
flex: 0 0 auto;
flex-direction: column;
position: relative;}

.main-header .text-wrapper-5 {
cursor: pointer;
align-self: stretch;
color: var(--brandcolor-brand-black-white-black);
font-family: "Inter-Medium", Helvetica;
font-size: 16px;
font-weight: 500;
letter-spacing: 0;
line-height: 21px;
margin-top: -1.00px;
position: relative;}

.main-header .div-wrapper-2 {
align-items: center;
background-color: var(--brandcolor-brand-primary-400);
border-radius: 32px;
display: inline-flex;
flex: 0 0 auto;
gap: 10px;
justify-content: center;
padding: 18px 24px;
position: relative;}

.main-header .text-wrapper-6 {
   cursor: pointer;
color: var(--brandcolor-brand-black-white-white);
font-family: "Inter-SemiBold", Helvetica;
font-size: 16px;
font-weight: 600;
letter-spacing: 0;
line-height: 17.3px;
margin-top: -1.00px;
position: relative;
white-space: nowrap;
width: fit-content;}



