.AllFFF {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    overflow: hidden;
}

.AllFF {
    display: flex;
    padding: 120px 0;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.mainTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 720px;
}


.section-titleFF {
    align-self: stretch;
    color: var(--brandcolor-brand-black_white-black);
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;

}

.titleFF p {
    color: var(--brandcolor-brand-black_white-black);
    font-feature-settings: 'dlig' on;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;


}

.titleFF {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.descFF {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.descFF p {
    color: var(--brandcolor-brand-grey-300);
    font-feature-settings: 'dlig' on;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: start;
}

.highlight {
    color: var(--brandcolor-brand-primary-400);

}

.features-wrapperFF {
    display: flex;
    /* padding: 16px; */
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
    align-self: stretch;
}

.features-viewportFF {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: -14px;
    margin-bottom: -14px;
}

.marqueeFF {
    display: flex;
    width: max-content;
    gap: 24px;
    animation: marquee-left 160s linear infinite;
}

.marqueeFF.reverse {
    animation-name: marquee-right;
}

.marquee__groupFF {
    display: inline-flex;
    align-items: center;
    gap: 24px;
}

.feature-cardFF {
    display: flex;
    width: 256px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--brandcolor-brand-black_white-white);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.08);
}

.iconFF {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;

}

.contentFF {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.feature-cardFF.color-purple {
    border-bottom: 8px solid var(--brandcolor-brand-primary-500);
}

.iconFF.color-purple {
    background: var(--brandcolor-brand-primary-100);
}

.feature-cardFF.color-blue {
    border-bottom: 8px solid var(--brandcolor-brand-secondary-400);
}

.iconFF.color-blue {
    background: var(--brandcolor-brand-secondary-100);
}

.feature-cardFF.color-teal {
    border-bottom: 8px solid var(--brandcolor-brand-accent-300);
}

.iconFF.color-teal {
    background: var(--brandcolor-brand-accent-100);
}

.feature-cardFF.color-lilac {
    border-bottom: 8px solid var(--brandcolor-brand-tertiary-300);

}

.iconFF.color-lilac {
    background: var(--brandcolor-brand-tertiary-100);

}

.mobile-only {
    display: none;
}

@keyframes marquee-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 1024px) {
    .section-titleFF {
        font-size: 40px;
    }

    .mainTitle {
        max-width: 560px;
    }
}

@media (max-width: 768px) {

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .feature-cardFF {
        width: 280px;
        box-sizing: border-box;
    }

    .mainTitle {
        max-width: 440px;
        padding: 0 40px;
    }
}

@media (max-width: 480px) {
    .marquee__groupFF {
        gap: 16px;
    }

    .marqueeFF {
        gap: 16px;
    }

    .section-titleFF {
        font-size: 24px;
    }

    .AllFF {
        padding: 96px 0;
        gap: 48px;
    }

    .mainTitle {
        max-width: 440px;
        padding: 0 20px;
    }

    .feature-cardFF {
        width: 160px;
        padding: 32px;
        gap: 24px;
        box-sizing: border-box;
    }

    .titleFF p {
        font-size: 16px;
        text-align: start;
    }
}