:root {
--brandcolor-brand-accent-100: rgba(202, 249, 255, 1);
--brandcolor-brand-accent-200: rgba(30, 229, 242, 1);
--brandcolor-brand-accent-300: rgba(22, 186, 197, 1);
--brandcolor-brand-accent-400: rgba(15, 145, 154, 1);
--brandcolor-brand-accent-500: rgba(8, 106, 112, 1);
--brandcolor-brand-accent-600: rgba(3, 69, 74, 1);
--brandcolor-brand-accent-700: rgba(1, 36, 38, 1);
--brandcolor-brand-accent-visible: initial;
--brandcolor-brand-black-white-black: rgba(0, 0, 0, 1);
--brandcolor-brand-black-white-visible: initial;
--brandcolor-brand-black-white-white: rgba(255, 255, 255, 1);
--brandcolor-brand-grey-100: rgba(234, 234, 235, 1);
--brandcolor-brand-grey-200: rgba(194, 194, 197, 1);
--brandcolor-brand-grey-300: rgba(155, 155, 161, 1);
--brandcolor-brand-grey-400: rgba(118, 118, 126, 1);
--brandcolor-brand-grey-500: rgba(83, 83, 92, 1);
--brandcolor-brand-grey-600: rgba(51, 51, 57, 1);
--brandcolor-brand-grey-700: rgba(21, 21, 25, 1);
--brandcolor-brand-grey-visible: initial;
--brandcolor-brand-primary-100: rgba(230, 222, 255, 1);
--brandcolor-brand-primary-200: rgba(196, 174, 255, 1);
--brandcolor-brand-primary-300: rgba(165, 124, 255, 1);
--brandcolor-brand-primary-400: rgba(139, 61, 255, 1);
--brandcolor-brand-primary-500: rgba(104, 0, 207, 1);
--brandcolor-brand-primary-600: rgba(62, 0, 129, 1);
--brandcolor-brand-primary-700: rgba(26, 0, 61, 1);
--brandcolor-brand-primary-visible: initial;
--brandcolor-brand-secondary-100: rgba(232, 233, 255, 1);
--brandcolor-brand-secondary-200: rgba(186, 189, 255, 1);
--brandcolor-brand-secondary-300: rgba(138, 146, 255, 1);
--brandcolor-brand-secondary-400: rgba(84, 101, 255, 1);
--brandcolor-brand-secondary-500: rgba(0, 55, 237, 1);
--brandcolor-brand-secondary-600: rgba(0, 32, 153, 1);
--brandcolor-brand-secondary-700: rgba(0, 11, 78, 1);
--brandcolor-brand-secondary-visible: initial;
--brandcolor-brand-tertiary-100: rgba(243, 238, 255, 1);
--brandcolor-brand-tertiary-200: rgba(214, 196, 255, 1);
--brandcolor-brand-tertiary-300: rgba(184, 146, 255, 1);
--brandcolor-brand-tertiary-400: rgba(158, 89, 255, 1);
--brandcolor-brand-tertiary-500: rgba(131, 0, 236, 1);
--brandcolor-brand-tertiary-600: rgba(86, 0, 159, 1);
--brandcolor-brand-tertiary-700: rgba(45, 0, 87, 1);
--brandcolor-brand-tertiary-visible: initial;}
