.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.64);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
}

.popup {
    display: flex;
    width: 406px;
    height: 396px;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 24px;
    background: var(--brandcolor-brand-black-white-white);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.32);
    position: relative;
}

#XmarkPopups {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.popup-icon {
    border-radius: 64px;
    background: var(--brandcolor-brand-accent-100);
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 10px;
}

#CheckmarkG {
    width: 48px;
    height: 48px;
    aspect-ratio: 1/1;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.a {
    color: var(--brandcolor-brand-black-white-black);
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: var(--popup-h2-font-family);
    font-size: var(--popup-h2-font-size);
    font-style: normal;
    font-weight: var(--popup-h2-font-weight);
    line-height: var(--popup-h2-line-height);
    align-self: stretch;
}

.b {
    color: var(--brandcolor-brand-grey-400);
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: var(--popup-body-2-font-family);
    font-size: var(--popup-body-2-font-size);
    font-style: normal;
    font-weight: var(--popup-paragraph-font-weight);
    line-height: var(--popup-body-2-line-height);
    align-self: stretch;
}

.popup-button {
    display: flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 32px;
    background: var(--website-color-color-primary-400);

    color: var(--website-color-color-black-white-white);
    font-feature-settings: 'dlig' on;
    font-family: var(--popup-link-font-family);
    font-size: var(--popup-link-font-size);
    font-style: normal;
    font-weight: var(--popup-link-font-weight);
    line-height: var(--popup-link-line-height);
}

.popup-button:hover {
    background-color: #4b00b5;
}

@media (max-width: 768px) {
    .popup {
        width: 90%;
        max-width: 370px;
        padding: 32px;
        height: auto;
    }

    .a {
        font-size: var(--popup-h2-font-size);

    }
}

@media (max-width: 480px) {
    .popup {
        width: 90%;
        max-width: 300px;
        padding: 24px;
        height: auto;
        gap: 20px;
        margin: 20px;
    }

    .a {
        font-size: 26px;

    }
}