.banner {
  width: 100vw;              
  background-color: #fafafa; 
  position: relative;
  padding: 160px 0;
  margin-left: calc(50% - 50vw);
}
.login-images-480 {
    display: none;
}
.banner .div {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 144px;
  justify-content: center;
  position: relative;
  margin-top: 70px;
}

.banner .element-phones {
 position: absolute;
  left: 54.1vw;
  top: 10.8vh;
  width: 44.6vw;
  height: 48.7vh;
  max-width: 100vw;
  max-height: 100vh;
  min-width: 200px;
  min-height: 150px; 
}

.banner .div-2 {
  top:-22px;
align-items: flex-start;
display: flex;
flex: 1;
 align-items: center;         /* מרכז אנכי */
  justify-content: center;     /* מרכז אופקי */
  position: relative;
flex-direction: column;
flex-grow: 1;
position: relative;}

.banner .div-3 {
  flex: 1;                  
  display: flex;
  flex-direction: column;
  gap: 24px;
 align-items: center;    /* מרכז אופקי את כל התוכן */
  justify-content: center;/* מרכז אנכי אם יש גובה קבוע */
  
}

.banner .transform-your {
  align-self: stretch;
  color: var(--brandcolor-brand-black-white-black);
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.2;   
  margin: 0;    
  text-align: left;   /* מיושר לשמאל */
}

.banner .build-powerful {
  align-self: stretch;
  color: var(--brandcolor-brand-grey-400);
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;   
  margin-top: 0px; 
  text-align: left;   /* מיושר לשמאל */
  
}

.banner .text-wrapper {
color: #000000;}

.banner .span {
color: #8b3dff;}

.banner .text-wrapper-2 {
color: #76767e;}

.banner .text-wrapper-3 {
color: #000000;
font-family: "Inter-SemiBold", Helvetica;
font-weight: 600;}

.banner .div-4 {
align-items: center;
align-self: stretch;
display: flex;
flex: 0 0 auto;
gap: 26px;
position: relative;
width: 100%;
margin-top: 32px;
align-items: center;        
justify-content: flex-start;
} 

.banner .div-wrapper {
background-color: var(--brandcolor-brand-primary-400);
align-items: center;
border-radius: 32px;
display: inline-flex;
flex: 0 0 auto;
gap: 10px;
justify-content: center;
min-height: 20px; /* גובה מינימלי אחיד */
padding: 18px 24px;
position: relative;}

.banner .p {
   cursor: pointer;
color: #ffffff;
font-family: "Inter-SemiBold", Helvetica;
font-size: 16px;
font-weight: 600;
letter-spacing: 0;
line-height: 17.3px;
margin-top: -1.00px;
position: relative;
white-space: nowrap;
width: fit-content;}


.banner .div-wrapper-2 {
border-color: var(--brandcolor-brand-grey-200);
align-items: center;
border: 1px solid;
border-radius: 32px;
display: inline-flex;
flex: 0 0 auto;
gap: 10px;
justify-content: center;
min-height: 20px; /* גובה מינימלי אחיד */
padding: 18px 24px;
position: relative;}



.banner .text-wrapper-4 {
   cursor: pointer;
color: var(--brandcolor-brand-black-white-black);
font-family: "Inter-SemiBold", Helvetica;
font-size: 16px;
font-weight: 600;
letter-spacing: 0;
line-height: 17.3px;
margin-top: -1.00px;
position: relative;
white-space: nowrap;
width: fit-content;}




.banner .image-wrapper {
  flex: 1;
  border-radius: 26px;
  padding: 16px; 
  background: rgba(200, 200, 200, 0.15); 
  border: 1px solid rgba(180, 180, 180, 0.5);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  height: 100%;
  display: inline-block;
  align-items: center;         /* מרכז אנכי */
  justify-content: center;     /* מרכז אופקי */
  position: relative;
  width: 100%;
    max-width: 800px;  /* 👈 מגביל את הרוחב */
}

.banner .image {
/* width: 560px;  
  height: auto;   */
width:  100%;
 align-items: center;         /* מרכז אנכי */
  justify-content: center;     /* מרכז אופקי */
  position: relative;
  height: auto;
  object-fit: cover;
  border-radius: 20px; 
  display: block;
  border: none; }
@media (max-width: 1366px)  {
 .banner .element-phones {
 position: absolute;
  left: 66.1vw;
  top: 18vh;
  width: 44.8vw;
  height: 44vh;

}
}

/* @media (max-width: 1919px) {
 
  .banner {
      margin-left: 0 !important;

  }
} */

@media (max-width: 1024px)  {
    
    /* הסתרת אלמנט ה-DotLottieReact */
    .element-phones {
        display: none !important; 
        position: static !important;
        left: 0 !important;
    }
    .banner {
    flex-direction: column;
      overflow-x: hidden;
      margin-left: 0 !important;
}
.banner .div {
    display: flex;
    flex-direction: column; /* אלמנטים אחד מתחת לשני */
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  /* --- הכותרת הראשית --- */
  .banner .transform-your {
    text-align: center;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 44px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 auto;
    margin-top:-80px;
    margin-bottom: 16px;
    display: inline-block;
    width: 100%;
  }

  /* שבירה לשתי שורות */
  .banner .transform-your .text-wrapper {
    display: block; /* "Transform your" */
  }
  .banner .transform-your .span {
    display: block; /* "workflow all by phone" */
  }

  /* --- טקסט משני --- */
  .banner .build-powerful {
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 40px; /* רווח בין טקסט לכפתורים */
  }

  /* --- כפתורים --- */
  .banner .div-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: -80px; /* רווח בין כפתורים לתמונה */
  }

  .banner .div-wrapper,
  .banner .div-wrapper-2 {
    flex: 1;
    max-width: 250px;
  }


  .banner .image-wrapper{
    width: 100%;
    max-width: 700px;
    height: auto;
    display: block;
    text-align: center;
  }
  
}
html, body {
  overflow-x: hidden;
}



/* -------------------768 */
@media (max-width: 768px) and (min-width: 480px) {

    /* הסתרת אלמנט ה-DotLottieReact */
    .element-phones {
        display: none !important;
        position: static !important;
        left: 0 !important;
    }

    /* Banner */
    .banner {
        flex-direction: column;
        overflow-x: hidden;
        padding: 0 40px; /* 40px מכל צד */
        box-sizing: border-box;
    }

    .banner .div {
        display: flex;
        flex-direction: column; /* אלמנטים אחד מתחת לשני */
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding: 0 40px; /* גם כאן 40px padding פנימי */
        box-sizing: border-box;
    }

    /* כותרת ראשית */
    .banner .transform-your {
        font-size: 48px; /* קצת קטן ממסך גדול */
        margin-top: 80px;
        margin-bottom: 16px;
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    .banner .transform-your .text-wrapper,
    .banner .transform-your .span {
        display: block;
    }

    /* טקסט משני */
    .banner .build-powerful {
        font-size: 20px;
        max-width: 100%;
        margin: 0 auto 20px auto;
        text-align: center;
        line-height: 1.5;
    }

    /* כפתורים */
    .banner .div-4 {
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-bottom: 0;
    }

    .banner .div-wrapper,
    .banner .div-wrapper-2 {
        max-width: 100%;
        width: 100%;
    }

    .banner .image-wrapper {
    display: block;
    margin-top: -80px ; /* מרכז אופקי + ריווח למעלה */
    text-align: center;   /* עבור תוכן פנימי אם יש */
    box-shadow: none; /*בשביל שלא יראה פס ברקע*/
    border: none;
     right: 10px;
    }



}


@media (max-width: 480px) {

    /* הסתרת אלמנט ה-DotLottieReact */
    .element-phones {
        display: none !important;
        position: static !important;
        left: 0 !important;
    }

    /* Banner */
    .banner {
        flex-direction: column;
        box-sizing: border-box;
        margin-left:0px;
    }

    .banner .div {
        display: flex;
        flex-direction: column; /* אלמנטים אחד מתחת לשני */
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        padding: 0 20px; 
    }

    /* כותרת ראשית */
    .banner .transform-your {
        font-size:32px; /* קצת קטן ממסך גדול */
        margin-bottom: 16px;
        text-align: start;
    }   
     .banner .build-powerful {
        text-align:start;
        font-size:14px; /* קצת קטן ממסך גדול */
        margin-bottom: 10px;
    }
    .banner .div-4 {
        flex-direction: column; /* אלמנטים אחד מתחת לשני */
    }

    .banner .div-wrapper,
    .banner .div-wrapper-2 {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .banner .image-wrapper
    {
      display: none !important;
        position: static !important;
        left: 0 !important;
    }

    .login-images-480
    {
        display: flex;
    }
 .login-images {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 20px;    /* רווח מכל צד */
        box-sizing: border-box;
    }

    .person1 {
        width: 100%;               /* מתכווץ פרופורציונלית */
        height: auto;             /* מתכווץ בהתאם */
        aspect-ratio: 494 / 255;  /* שומר על פרופורציות */
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .person1-border1 {
        width: 30%;
        height: auto;
        aspect-ratio: 156 / 156;
        padding: 8px;
    }

    .person1-border2 {
        width: 85%;
        height: auto;
        aspect-ratio: 132 / 132;
        padding: 4px;
    }

    .person1 .img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
    }

    /* PERSON2 ו-PERSON3 - מתיישרים בשורה */
    .person-row {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .person2, .person3 {
      width: 100%;               /* מתכווץ פרופורציונלית */
        height: auto;             /* מתכווץ בהתאם */
        aspect-ratio: 247 / 255;  /* שומר על פרופורציות */
    }

    .person2-border1, .person3-border1 {
        width: 50%;
        height: auto;
        aspect-ratio: 104 / 104;
        padding: 4px;
    }

    .person2-border2, .person3-border2 {
        width: 90%;
        aspect-ratio: 94 / 94;
    }

    .person2 .img, .person3 .img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
    }
}

@media (max-width: 320px) {
    body
    {
      min-width: 100%;
    }

}
@media (max-width: 290px) {
     .banner .transform-your, .banner .div-wrapper-2,
    .banner .div-wrapper {
        width: 90%;
    } 
.banner .build-powerful
{
        width: 90%;
}
}


/* מסכים 1600px–1919px */
@media (max-width: 1919px) and (min-width: 1750px) {
  .banner .element-phones {
    left: 58vw;
    top: 10vh;
    width: 42vw;
    height: 36vh;
  }
}
@media (max-width: 1749px) and (min-width: 1600px) {
  .banner .element-phones {
    left: 58vw;
    top: 9vh;
    width: 46vw;
    height: 36vh;
  }
}

/* מסכים 1440px–1599px */
@media (max-width: 1599px) and (min-width: 1440px) {
  .banner .element-phones {
    left: 66vw;
    top: 11vh;
    width: 38vw;
    height: 28vh;
  }
}


/* מסכים 1366px–1439px */
@media (max-width: 1439px) and (min-width: 1366px) {
  .banner .element-phones {
    left: 72vw;
    top: 12vh;
    width: 32vw;
    height: 22vh;
  }
}

/* מסכים 1280px–1365px */
@media (max-width: 1365px) and (min-width: 1280px) {
  .banner .element-phones {
    left: 74vw;
    top: 12.5vh;
    width: 34vw;
    height: 22vh;
  }
}

/* מסכים 1025px–1279px */
@media (max-width: 1279px) and (min-width: 1025px) {
  .banner .element-phones {
    left: 80vw;
    top: 14vh;
    width: 28vw;
    height: 18vh;
  }
}